body {
  margin: 0;
  background: linear-gradient(
    to left,
    rgba(23, 23, 25, 1),
    rgba(23, 23, 25, 1)
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
